<div class="form-group">
    <select ng-model="selectLocJob" class="form-control" ng-init="selectLocJob='loc'">
        <option value="loc">Localisation</option>
        <option value="job">Job</option>
    </select>
</div>
<div ng-if="selectLocJob=='loc'" >
    <canvas class="chart chart-pie" data="pplctrl.dataChartLoc"
      labels="pplctrl.labelsChartLoc" legend="true" options="pplctrl.pieChartOptions"></canvas> 
</div>
<div ng-if="selectLocJob=='job'" >
    <canvas class="chart chart-pie" data="pplctrl.dataChartJob"
      labels="pplctrl.labelsChartJob" legend="true" options="pplctrl.pieChartOptions"></canvas>
</div>


