<div class="form-group">
    <select ng-model="selectLocJobBar" class="form-control" ng-init="selectLocJobBar='loc'">
        <option value="loc">Localisation</option>
        <option value="job">Job</option>
    </select>
</div>

<div ng-if="selectLocJobBar=='loc'" >
<canvas class="chart chart-bar" data="pplctrl.jobLocBarLocs"
      labels="pplctrl.jobLocBarLabelsLoc" ></canvas>
</div>

<div ng-if="selectLocJobBar=='job'" >
<canvas class="chart chart-bar" data="pplctrl.jobLocBarJobs"
      labels="pplctrl.jobLocBarLabelsJob" ></canvas>
</div>


