
                        <form ng-show="!pplctrl.editFlag">
                            <div class="form-group">
                                <label>Name:</label>
                                <input ng-model="pplctrl.newEmp.name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Surname:</label>
                                <input ng-model="pplctrl.newEmp.surname" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Job:</label>
                                                    <select ng-model="pplctrl.newEmp.job" ng-init="pplctrl.newEmp.job='director'"  class="form-control" >
                                    <option value="director">director</option>
                                    <option value="manager">manager</option>
                                    <option value="salesman">salesman</option>
                                    <option value="accountant">accountant</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Localisation:</label></br>
                                                            <select  ng-model="pplctrl.newEmp.loc" ng-init="pplctrl.newEmp.loc='Rzeszow'"  class="form-control" >
                                    <option value="Rzeszow">Rzeszow</option>
                                    <option value="Wroclaw">Wroclaw</option>
                                    <option value="Poznan">Poznan</option>
                                    <option value="Torun">Torun</option>
                                </select>
                            </div>
                            <button ng-click="pplctrl.clearEmpAddBox(pplctrl.newEmp)" type="button" class="btn btn-warning">Clear</button>
                            <button ng-click="pplctrl.addEmp(pplctrl.newEmp)" type="button" class="btn btn-success">Add</button>
                        </form>

                        <form ng-show="pplctrl.editFlag">
                            <div class="form-group">
                                <label>Name:</label></br>
                                <input ng-model="pplctrl.editedEmp.name" class="form-control" >
                            </div>
                            <div class="form-group">
                                <label>Surname:</label></br>
                                <input ng-model="pplctrl.editedEmp.surname" class="form-control" >
                            </div>
                            <div class="form-group">
                                <label>Job:</label></br>
                                <select  ng-model="pplctrl.editedEmp.job" ng-init="pplctrl.editedEmp.job"  class="form-control" >
                                    <option value="director">director</option>
                                    <option value="manager">manager</option>
                                    <option value="salesman">salesman</option>
                                    <option value="accountant">accountant</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Localisation:</label></br>
                                <select  ng-model="pplctrl.editedEmp.loc" ng-init="pplctrl.editedEmp.loc"  class="form-control" >
                                    <option value="Rzeszow">Rzeszow</option>
                                    <option value="Wroclaw">Wroclaw</option>
                                    <option value="Poznan">Poznan</option>
                                    <option value="Torun">Torun</option>
                                </select>
                            </div>
                            <button type="button" ng-click="pplctrl.cancelEmpEdit()" class="btn btn-warning">Cancel</button>
                            <button type="button" ng-click="pplctrl.removeEmpEdited(pplctrl.emp)" class="btn btn-danger">Remove</button>
                            <button type="button" ng-click="pplctrl.clearEmpEditBox(pplctrl.editedEmp)" class="btn btn-warning">Clear</button>
                            <button type="button" ng-click="pplctrl.doEditEmp(pplctrl.emp)" class="btn btn-success">Edit</button>
                        </form>

